{% extends "layout.html" %}



{% block body %}
<div class="container bg-white p-5 my-5 div">

	<form class="my-5" action="{{url_for('deleteOffer', offer_id = selectedOffer.id)}}" method="POST">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4" dir="rtl">هل ترغب بحذف هذا العرض  "{{selectedOffer.name}}"؟</legend>
			<div class="form-group">
				{% if current_user.is_authenticated %}
					{% if current_user.delete_offer == 'True' %}
						<input class="btn btn-danger" type="submit" value="حذف" style="font-size: 20px;">
					{% endif %}
				{% endif %}
				<a class="btn btn-secondary" href="{{url_for('offers')}}" style="font-size: 20px;">الغاء</a>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}
