{% extends "layout.html" %}



{% block body %}

<div style="position: relative; background: white; padding: 10px; margin: 40px auto; font-size: 26px;">

    <form class="my-5" action="{{url_for('editOffer', offer_id=selectedOffer.id)}}" method="POST" enctype="multipart/form-data" style="border: 2px solid gray; padding: 20px;">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-size: 28px; text-align: center; font-weight: bold;">تعديل العرض</legend>
            <div class="form-group col-md-12">
                    <label class="form-control-label">الإسم باللغة الانجليزية</label>
                    <input class="form-control form-control-lg" type="text" name="Name" value="{{selectedOffer.name}}" dir="ltr">
            </div>
            <div class="form-group col-md-12">
                    <label class="form-control-label">الإسم باللغة العربية</label>
                    <input class="form-control form-control-lg" type="text" name="Name_ar" value="{{selectedOffer.name_ar}}">
            </div>
            <div class="form-group col-md-12">
                    <label class="form-control-label">رابط الصورة</label>
                    <input class="form-control form-control-lg" type="text" name="Image" placeholder="{{selectedOffer.image}}">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label">السعر</label>
                    <input class="form-control form-control-lg" type="text" name="Price" value="{{selectedOffer.price}}">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label">الرابط</label>
                    <input class="form-control form-control-lg" type="text" name="Url" placeholder="{{selectedOffer.url}}">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label">اللون</label>
                    <select class="form-control" name="Color">
                        <option class="form-control" selected disabled hidden>اختر اللون</option>
                        {% for color in all_colors %}
                            {% if selectedOffer.color == color.name %}
                                <option value="{{color.name}}" selected>{{color.name}}</option>
                            {% else %}
                                <option value="{{color.name}}">{{color.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label">السعة التخزينية</label>
                    <select class="form-control" name="Storage_Space">
                        <option class="form-control" selected disabled hidden>اختر السعة التخزينية</option>
                        {% for storage in all_storages %}
                            {% if selectedOffer.storage_space == storage.name %}
                                <option value="{{storage.name}}" selected>{{storage.name}}</option>
                            {% else %}
                                <option value="{{storage.name}}">{{storage.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label">الفئة</label>
                    <select class="form-control" name="Category">
                        <option class="form-control" selected disabled hidden>اختر الفئة</option>
                        {% for category in all_categories %}
                            {% if selectedOffer.category_id == category.id %}
                                <option value="{{category.id}}" selected>{{category.name}}</option>
                            {% else %}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label">العلامة التجارية</label>
                    <select class="form-control" name="Brand">
                        <option class="form-control" selected disabled hidden>اختر العلامة التجارية</option>
                        {% for brand in all_brands %}
                            {% if selectedOffer.brand_id == brand.id %}
                                <option value="{{brand.id}}" selected>{{brand.name}}</option>
                            {% else %}
                                <option value="{{brand.id}}">{{brand.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label">المنتج</label>
                    <select class="form-control" name="Review">
                        <option class="form-control" selected disabled hidden>اختر المنتج</option>
                        {% for review in all_reviews %}
                            {% if review.id == selectedOffer.review_id %}
                                <option value="{{review.id}}" selected>{{review.name}}</option>
                            {% else %}
                                    <option value="{{review.id}}">{{review.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label">المتجر</label>
                    <select class="form-control" name="Market">
                        <option class="form-control" selected disabled hidden>اختر المتجر</option>
                        {% for market in all_markets %}
                            {% if selectedOffer.market_id == market.id %}
                                <option value="{{market.id}}" selected>{{market.name}}</option>
                            {% else %}
                                <option value="{{market.id}}">{{market.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {% if current_user.is_authenticated %}
                {% if current_user.edit_offer == 'True' %}
                    <input class="btn btn-success" type="submit" value="حفظ" style="font-size: 20px;">
                {% endif %}
            {% endif %}
            <a class="btn btn-secondary" href="{{url_for('offers')}}" style="font-size: 20px;">إلغاء</a>
        </div>
    </form>
</div>
{% endblock %}
