{% extends "layout.html" %}



{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" dir="rtl">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="{{url_for('offers', checkbox_brands=checkbox_brands, checkbox_colors=checkbox_colors, checkbox_storages=checkbox_storages, checkbox_markets=checkbox_markets, checkbox_sort=checkbox_sort, checkbox_categories=checkbox_categories, checkbox_reviews=checkbox_reviews, searchOffers=searchOffers)}}" method="POST" enctype="multipart/form-data" class="search-box mt-5" >
    <!-- PAGE HEADER -->
	<div class="page-header">
		<div class="page-header-bg" style="background: #007bff;" data-stellar-background-ratio="0.5"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 text-center">
					<h1 class="text-uppercase">العروض</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- /PAGE HEADER -->

	<!-- SECTION -->
	<div class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%;">
						{% if current_user.is_authenticated %}
			              {% if current_user.new_offer == 'True' %}
			                <a class="col-sm-8 col-md-5 my-1 btn btn-success" href="{{url_for('newOffer')}}" style="-ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%; margin: 10px;"><h3 style="color: white; font-size: 20px; width: 100%;">إضافة عرض جديد</h3></a>
			              {% endif %}
			            {% endif %}

			            {% if current_user.is_authenticated %}
			              {% if current_user.super_user == 'True' %}
			                <a class="col-sm-8 col-md-5 my-1 btn btn-info" href="{{url_for('checkOffers')}}" style="-ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%; margin: 10px;"><h3 style="color: white; font-size: 20px; width: 100%;">التحقق من العروض</h3></a>
			              {% endif %}
			            {% endif %}
					</div>
					
					<div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%;">
			          <input class="search-txt" type="text" name="search_text" value="{{ searchOffers }}" placeholder="اكتب للبحث" dir="rtl" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-sizing: border-box; margin: 0; font: inherit; font-family: inherit; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0; display: table-cell; height: 40px;-ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%;">
			          <span style="-ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%;">
			          	<button class="btn btn-primary" style=" height: 100%; padding: 0px 30px; margin-right: 10px;">
				            <!-- <i class="fas fa-search"></i> -->
				            <span style="font-size: 22px;">بحث</span>
				         </button>
			      	  </span>
			      	</div>
					<div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 10px auto">
			            <div style="-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;">
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Category">
			                <h5 style="font-size: 20px;">الفئة</h5>
			                <select class="selectpicker" data-live-search="true" name="Category" dir="rtl">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر الفئة</option>
			                  {% for category in all_categories %}
			                    {% if checkbox_categories %}
			                      {% if category.id == int(checkbox_categories)  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ category.id }}" selected>{{ category.name_ar }}</option>s
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ category.id }}">{{ category.name_ar }}</option>
			                      {% endif %}
			                    {% else %}
			                      <option style="font-size: 20px;" class="form-control text-right" value="{{ category.id }}">{{ category.name_ar }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Brand">
			                <h5 style="font-size: 20px;">العلامة التجارية</h5>
			                <select class="selectpicker" data-live-search="true" name="Brand" dir="rtl">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر العلامة التجارية</option>
			                  {% for brand in all_brands %}
			                    {% if checkbox_brands %}
			                      {% if brand.id == int(checkbox_brands)  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ brand.id }}" selected>{{ brand.name_ar }}</option>s
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ brand.id }}">{{ brand.name_ar }}</option>
			                      {% endif %}
			                    {% else %}
			                      <option style="font-size: 20px;" class="form-control text-right" value="{{ brand.id }}">{{ brand.name_ar }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Review">
			                <h5 style="font-size: 20px;">المنتج</h5>
			                <select class="selectpicker" data-live-search="true" name="Review">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر المنتج</option>
			                  {% for review in all_reviews %}
			                    {% if checkbox_reviews %}
			                      {% if review.id == int(checkbox_reviews)  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ review.id }}" selected>{{ review.name_ar }}</option>s
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ review.id }}">{{ review.name_ar }}</option>
			                      {% endif %}
			                    {% else %}
			                      <option style="font-size: 20px;" class="form-control text-right" value="{{ review.id }}">{{ review.name_ar }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Color">
			                <h5 style="font-size: 20px;">اللون</h5>
			                <select class="selectpicker" data-live-search="true" name="Color" dir="rtl">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر اللون</option>
			                  {% for color in all_colors %}
			                    {% if checkbox_colors %}
			                      {% if checkbox_colors == color.name  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ color.name }}" selected>{{ color.name_ar }}</option>
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ color.name }}">{{ color.name_ar }}</option>
			                      {% endif %}
			                    {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ color.name }}">{{ color.name_ar }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Storage_Space">
			                <h5 style="font-size: 20px;" class="form-control-label">السعة التخزينية</h5>
			                <select class="selectpicker" data-live-search="true" name="Storage_Space" dir="rtl">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر سعة التخزين</option>
			                  {% for storage in all_storages %}
			                    {% if checkbox_storages %}
			                      {% if checkbox_storages == storage.name  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ storage.name }}" selected>{{ storage.name }}</option>
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ storage.name }}">{{ storage.name }}</option>
			                      {% endif %}
			                    {% else %}
			                      <option style="font-size: 20px;" class="form-control text-right" value="{{ storage.name }}">{{ storage.name }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Market">
			                <h5 style="font-size: 20px;" class="form-control-label">المتجر</h5>
			                <select class="selectpicker" data-live-search="true" name="Market" dir="rtl">
			                  <option style="font-size: 20px;" class="form-control text-right" selected disabled hidden>اختر المتجر</option>
			                  {% for market in all_markets %}
			                    {% if checkbox_markets %}
			                      {% if market.id == int(checkbox_markets)  %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ market.id }}" selected>{{ market.name }}</option>
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ market.id }}">{{ market.name }}</option>
			                      {% endif %}
			                    {% else %}
			                      <option style="font-size: 20px;" class="form-control text-right" value="{{ market.id }}">{{ market.name }}</option>
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Currency">
			                <h5 style="font-size: 20px;" class="form-control-label">العملة</h5>
			                <select class="selectpicker" data-live-search="true" name="Currency" dir="rtl">
			                  {% for currency in all_currencies %}
			                    {% if checkbox_currencies %}
			                      {% if currency.id == checkbox_currencies %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ currency.id }}" selected>{{ currency.name_ar }} - {{currency.abbreviated}}</option>
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ currency.id }}">{{ currency.name_ar }} - {{currency.abbreviated}}</option>
			                      {% endif %}
			                    {% else %}
			                      {% if currency.id == 13 %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ currency.id }}" selected>{{ currency.name_ar }} - {{currency.abbreviated}}</option>
			                      {% else %}
			                        <option style="font-size: 20px;" class="form-control text-right" value="{{ currency.id }}">{{ currency.name_ar }} - {{currency.abbreviated}}</option>
			                      {% endif %}
			                    {% endif %}
			                  {% endfor %}
			                </select>
			              </fieldset>
			              <fieldset style="-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; margin: 10px auto; display: inline-block;" name="Sort">
			                <h5 style="font-size: 20px;" class="form-control-label">الترتيب بواسطة</h5>
			                <select class="selectpicker" data-live-search="true" name="Sort" dir="rtl">
												{% if checkbox_sort %}
				                  {% if checkbox_sort == "high" %}
				                    <option style="font-size: 20px;" class="form-control text-right" value="low">السعر: من الاقل الى الاعلى</option>
				                    <option style="font-size: 20px;" class="form-control text-right" value="high"selected>السعر: من الاعلى الى الاقل</option>
				                  {% else %}
				                    <option style="font-size: 20px;" class="form-control text-right" value="low" selected>السعر: من الاقل الى الاعلى</option>
				                    <option style="font-size: 20px;" class="form-control text-right" value="high">السعر: من الاعلى الى الاقل</option>
				                  {% endif %}
												{% else %}
													<option style="font-size: 20px;" class="form-control text-right" value="high" selected>السعر: من الاعلى الى الاقل</option>
													<option style="font-size: 20px;" class="form-control text-right" value="low">السعر: من الاقل الى الاعلى</option>
												{% endif %}
			                </select>
			              </fieldset>

			            </div>
			            <div class="row justify-content-around" style="-ms-flex: 0 0 50%; flex: 0 0 100%; max-width: 100%; max-height: 100px; margin: 10px auto"><input class="btn btn-primary col-xs-6" type="submit" name="search" value="فلترة العروض" style="font-size: 20px; max-width: 200px; float: right;"></div>
			          </div>
			        {% if all_offers.items %}
						<div style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 30px;">
							<!-- post -->
							{% for offer in all_offers.items %}
							<div class="card col-md-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 200px; margin: auto; text-align: center; font-family: arial; margin-bottom: 30px;">
							  <div style="height: 200px; width:100%; background:no-repeat center /contain url('{{ offer.image }}');"></div>
							  <h4 style="display: block; /* or inline-block */ text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 4.5em; line-height: 1.5em">{{ offer.name_ar }}</h4>
							  {% if checkbox_currencies %}
	                            <p class="price" style="color: grey; font-size: 22px; color: #007bff; font-weight: bold;" dir="ltr">{{ "{:,.2f}".format(round(float(offer.price) * selected_currency.amount,2))}} {{ selected_currency.abbreviated }}</p>
	                          {% else %}
	                            <p class="price" style="color: grey; font-size: 22px; color: #007bff; font-weight: bold;" dir="ltr">{{ "{:,.2f}".format(round(float(offer.price),2)) }} SAR</p>
	                          {% endif %}
							  <img src="{{url_for('static', filename='%s' % (Markets.query.filter_by(id=offer.market_id).one()).square)}}" style="-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 70%; margin: -10px 0 15px;">
							  <p><a href="{{ offer.url }}" style=" border: none; outline: 0; padding: 12px; color: white; background-color: #02ce59; text-align: center; cursor: pointer; width: 100%; font-size: 22px; font-weight: bold" target="_blank">اشتري الآن</a></p>
							  {% if current_user.is_authenticated %}
		                        {% if current_user.edit_offer == 'True' %}
		                          <a class="btn btn-info mb-2" href="{{url_for('editOffer', offer_id=offer.id)}}" dir="rtl">تعديل <span class="oi oi-pencil"></span></a>
		                        {% endif %}
		                      {% endif %}

		                      {% if current_user.is_authenticated %}
		                        {% if current_user.delete_offer == 'True' %}
		                          <a class="btn btn-danger mb-2" href="{{url_for('deleteOffer', offer_id=offer.id)}}" dir="rtl">حذف <span class="oi oi-x"></span></a>
		                        {% endif %}
		                      {% endif %}
							</div>

							{% endfor %}
							<!-- /post -->
						</div>



						<div class="section-row loadmore text-center">
						<!-- <a href="#" class="primary-button">Load More</a> -->
						<div class="row d-flex justify-content-center" style="font-size: 10px;">
				            <div class="col-md-6" style="text-align: center;">
				              <button class="btn btn-outline-primary mb-4" name="page" value="1" style="font-size: 12px;"><<</button>
						<!-- 				              <button class="btn btn-outline-primary mb-4" name="page" value="{{all_offers.prev_num}}" style="font-size: 12px;"><</button> -->				              {% for page_num in all_offers.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
				                {% if page_num %}
				                  {% if all_offers.page == page_num %}
				                    <button class="btn btn-primary mb-4" name="page" value="{{page_num}}" style="font-size: 12px;">{{page_num}}</button>
				                  {% else %}
				                    <button class="btn btn-outline-primary mb-4" name="page" value="{{page_num}}" style="font-size: 12px;">{{page_num}}</button>
				                  {% endif %}
				                {% else %}
				                    ...
				                {% endif %}
				              {% endfor %}
						<!--  <button class="btn btn-outline-primary mb-4" name="page" value="{{all_offers.next_num}}" style="font-size: 12px;">></button>-->				              <button class="btn btn-outline-primary mb-4" name="page" value="{{all_offers.pages}}" style="font-size: 12px;">>></button>
				            </div>
				          </div>
						</div>
					{% else %}
					<a href="{{url_for('offers')}}" class="text-center" style="background: #EEE; margin-top: 50px;" dir="rtl">
	                	<div class="p-4" style="width: 100%; border: 4px dashed #b6b6b6; font: 30px bold; color: gray; padding: 20px;">
	                		لا توجد نتائج تطابق المواصفات المختارة.<br>إضغط على هذه الرسالة للذهاب الى صفحة العروض.
	                	</div>
	                </a>
					{% endif %}
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
</form>
{% endblock %}

