{% extends "layout.html" %}



{% block body %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



	<div class="div my-5 p-5" dir="rtl" style="text-align: right;">
  	<div dir="rtl" style="text-align: right;">
  	<br />
    	<div id="privcy">

        <h2>سياسية الخصوصيه</h2>

      	<h4>زائرنا الكريم</h4>

      	<div style="line-height: 2; line-height: 2;">
      	   خصوصيتك أيها الزائر لها أهمية بالغة بالنسبة لنا ، و سياسة الخصوصية الموجودة في هذه الوثيقة تمثل الخطوط العريضة لأنواع المعلومات الشخصية التي موقع&nbsp;<b style="color: red;">لوجامي للتقنية</b>&nbsp;وكيفية استخدام هذه المعلومات.<br />
      	    <br />
        </div>

      	<div style="line-height: 2;">
      	   نحن نستعين بشركات إعلان كطرف ثالث لعرض الإعلانات ، وعندما تزور موقع&nbsp;<span style="color: red;"><b>لوجامي للتقنية</b></span>&nbsp;فـ إنه يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذه المدونه ( باستثناء الاسم أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف ) وذلك من أجل تقديم إعلانات حول البضائع والخدمات التي تهمك عن طريق <a href="https://www.doubleclickbygoogle.com/" target="_blank">ملف تعريف الإرتباط</a>.
        </div>

      	<div><br /></div>

      	<div style="line-height: 2;">
      	   نحن في&nbsp;<b style="color: red;">لوجامي للتقنية</b>&nbsp;نستخدم إعلانات Google بصفتها مورِّدًا مالياً خارجياً ، ولذلك تستخدم شركة جوجل&nbsp;<a href="https://www.doubleclickbygoogle.com/" target="_blank">ملفات تعريف الارتباط</a> لعرض الإعلانات على موقعنا.
        </div>

      	<div style="line-height: 2;"><br /></div>

        <div style="line-height: 2;">
      	   وبذلك ستتمكّن Google ، باستخدام ملف تعريف الارتباط <b>DART</b> ، من عرض الإعلانات "حسب الاهتمامات" للمستخدمين استنادًا إلى زياراتهم لموقعنا.
        </div>

        <div><br /></div>

      	<div style="line-height: 2;">
      	   ويمكن لزورانا الكرام تعطيل استخدام ملف تعريف الارتباط <b>DART</b> بزيارة <a href="http://www.google.com/policies/technologies/ads/" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a>.
        </div>

      	<div>
      	   <div><br /></div>
      	   <div><b>ملفات الدخول:</b></div>
      	    <div style="line-height: 2;">
      	       شأنها في ذلك شأن معظم خوادم المواقع الأخرى ، ومن هنا فإن &nbsp;موقع&nbsp;<b style="color: red;">لوجامي للتقنية</b>&nbsp;يستخدم نظام ملفات الدخول ، وهذا يشمل بروتوكول الانترنت (عناوين ، نوع المتصفح ، مزود خدمة الانترنت "مقدمي خدمات الانترنت" ، &nbsp;التاريخ / الوقت ، وعدد النقرات لتحليل الاتجاهات).
            </div>
      	</div>

      	<div>
      	   <div><br /></div>
      	</div>

      	<div>
        	<div>
        	   <div style="line-height: 2;">
        	      من خلال هذه العملية لا يقصد بذلك جمع كل هذه المعلومات في سبيل التلصص على أمور الزوار الشخصية ، وإنما هي أمور تحليلية لأغراض تحسين جودة الإعلانات من قبل <b>Google</b> ، ويضاف إلى ذلك أن جميع هذه المعلومات المحفوظة من قبلنا سرية تماما، وتبقى ضمن نطاق التطوير والتحسين الخاص بموقعنا فقط.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div><b>الكوكيز وإعدادات الشبكة:</b></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      إن شركة <b>Google</b> تستخدم تقنية الكوكيز لتخزين المعلومات عن إهتمامات الزوار، إلى جانب سجل خاص للمستخدم تسجل فيه معلومات محددة عن الصفحات التي تم الوصول إليها أو زيارتها، وبهذه الخطوة فإننا نعرف مدى اهتمامات الزوار وأي المواضيع الأكثر تفضيلا من قبلهم حتى نستطيع بدورنا تطوير محتوانا الخدمي والمعرفي المناسب لهم.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      نضيف إلى ذلك أن بعض الشركات التي تعلن في&nbsp;<b style="color: red;">لوجامي للتقنية</b>&nbsp;قد تتطلع على الكوكيز وإعدادات الشبكة الخاصة بموقعنا وبكم ،&nbsp;ومن هذه الشركات مثلاً شركة <b>Google</b> وبرنامجها الإعلاني <a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a> وهي شركة الإعلانات الأولى في موقعنا.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      وبالطبع فمثل هذه الشركات المعلنة والتي تعتبر الطرف الثالث في سياسة الخصوصية فهي تتابع مثل هذه البيانات والإحصائيات عبر بروتوكولات الانترنت لأغراض تحسين جودة إعلاناتها وقياس مدى فعاليتها.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      كما أن هذه الشركات بموجب الاتفاقيات المبرمة معنا يحق لها استخدام وسائل تقنية مثل ( الكوكيز ، و إعدادات الشبكة ، و أكواد برمجية خاصة "جافا سكربت" ) لنفس الأغراض المذكورة أعلاه والتي تتلخص في تطوير المحتوى الإعلاني لهذه الشركات وقياس مدى فاعلية هذه الإعلانات ، من دون أي أهداف أخرى قد تضر بشكل أو بآخر على زوار موقعنا.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      وبالطبع فإن موقع&nbsp;<b style="color: red;">لوجامي للتقنية</b>&nbsp;لا يستطيع الوصول أو السيطرة على هذه الملفات، وحتى بعد سماحك وتفعيلك لأخذها من جهازك (الكوكيز) ، كما أننا غير مسؤولين بأي شكل من الأشكال عن الاستخدام غير الشرعي لها إن حصل لا قدر الله .
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      عليك مراجعة سياسة الخصوصية الخاصة بالطرف الثالث في هذه الوثيقة &nbsp;( الشركات المعلنة مثل&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a>&nbsp;) أو خوادم الشبكات&nbsp;الإعلانية لمزيد من المعلومات عن ممارساتها وأنشطتها المختلفة .
             </div>
        	</div>

        	<div>
            <div><br /></div>
        	</div>

        	<div style="line-height: 2;">
        	   لمراجعة سياسة الخصوصية للبرنامج الإعلاني&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a>&nbsp;والتابع لشركة <b>Google </b>يرجى النقر <a href="http://www.google.com/policies/technologies/ads/" target="_blank">هنا</a>
          </div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      يُمكن جمع البيانات لتجديد النشاط التسويقي على الشبكة الإعلانية وشبكة البحث عبر &nbsp;سياسة الإعلانات التي تستهدف الاهتمامات والمواقع الخاصة بالزوار ، ويمكن تعطيل هذه الخاصية من <a href="https://tools.google.com/dlpage/gaoptout/?hl=ar" target="_blank">هنا</a>.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      وأخيرا .. نحن ملزمون ضمن بنود هذه الاتفاقية بان نبين لك كيفية تعطيل خاصية الكوكيز ، حيث يمكنك فعل ذلك من خلال خيارات المتصفح الخاص بك، أو من خلال متابعة &nbsp;<a href="http://www.google.com/policies/technologies/ads/" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a> .
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div style="line-height: 2;">
        	      إذا كنت بحاجة إلى مزيد من المعلومات أو لديك أية أسئله عن سياسة الخصوصية ، لا تتردد في الاتصال بنا عن طريق نموذج الإتصال ، بالدخول إلى تبويب اتصل بنا.
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div>
        	      تم تحرير هذه الصفحة بتاريخ 13/11/2015
             </div>
        	</div>

        	<div>
        	   <div><br /></div>
        	</div>

        	<div>
        	   <div>
        	      بنود هذه السياسة قابلة للتطوير والتغيير في محتواها في أي وقت نراه ضرورياً .
             </div>
        	</div>

      	</div>
    	</div>
    	<div><br /></div>
  	</div>
	</div>


</div>
{% endblock %}
